streamlit==1.32.0
langchain==0.3.8
langchain-core==0.3.21
langchain-openai==0.2.10
pydantic==2.9.2
transformers==4.47.0
opencv-python==4.7.0.72
numpy==1.26.3
scikit-learn==1.0.2
matplotlib==3.5.1
Pillow==10.2.0
requests==2.31.0
python-dotenv==0.21.0
